<head>
  <%= stylesheet_link_tag 'application', media: 'all',
                                       'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"> </script> <![endif]-->
</head>

<nav class="top-bar" data-topbar>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <% if user_signed_in? %>
      <li>
        <%= link_to('Home', "#") %>
        <%= link_to('Logout', logout_path) %>
      </li>
      <%end%>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Domains", controller: "domains", action: "show"%></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>

</nav>
